* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #c5c1c0;
    color: #0a1612;    
}

body, header, main, aside, nav, footer {
    position: absolute;
}

header {
    top: 0;
    height: 15vh;
    width: 100vw;
    text-align: center;
}

main {
    top: 15vh;
    width: 67vw;
    height: 116.67vw;
}

aside {
    left: 67vw;
    height: 116.67vw;
    top: 15vh;
    width: 33vw;
    text-align: center;
}

nav {
    width: 100vw;
    top: calc(15vh + 116.67vw);
    height: 15vh;
}

h1 {
    margin-top: 5vw;
    font-size: 13.33vw;
}

h2 {
    font-size: 6.67vw;
    margin: 1.6vh 0;
    padding: 0 0.4em;
}

button {
    background-color: #f7ce3e;
    font-size: 5vw;
    color: #1a2930;
}

button > sub {
    font-size: 0.75em;
}

button > i {
    color: #0a1612;
}

.control-button {
    text-align: center;
    width: 27%;
    height: 70%;
    margin-right: calc(5% - 2px);
}

.control-button:last-of-type {
    margin-right: 0;
}

.control-button:first-of-type {
    margin-left: calc(3.5% - 2px);
}

#well {
    position: absolute;
    height: 107.2vw;
    width: 53.6vw;
    left: 6.7vw;
    top: 0;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: #0a1612;    
}

#next {
    position: relative;
    width: 21.44vw;
    height: 10.72vw;
    left: calc((33vw - 21.44vw)/2);
}

#new-game {
    width: 60%;
    padding: 0.5em;
    margin-top: 1.5em;
}

#score {
    font-size: 5.83vw;
    font-family: 'Nova Mono', monospace;
    background-color: #FEFCFB;
    width: 60%;
    margin-left: 20%;
    text-align: right;
    padding-right: 0.5em;
}


.brick {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
}

.live-brick {
    background: linear-gradient(to bottom right, #f15c25, orangered);
    border-color: midnightblue;
    z-index: 1;
}

.dead-brick {
    background-color: darkslategray;
    background-image: url('../pic/rock3.JPG');
    background-size: 1000% 1000%;    
}

#well > .brick {
    width: 10%;
    height: 5%;
}

#next > .brick {
    width: 25%;
    height: 50%;
}

/*

The UI keeps the well's aspect ratio at 1:2. For a narrow window, the calculations are based mostly on the viewport's width, as that is where we have the least freedom of maneuver. Conversely, for a window a little wider, we make calculations based on the view height.
And the additional media query is for windows even wider. At this moment, the UI's aspect ratio gets set in stone, and widening the window further does nothing. 

*/

@media (min-aspect-ratio: 3/5) {
    h1 {
        margin-top: 3vh;
        font-size: 8vh;
    }
    h2 {
        font-size: 4vh;
        margin: 1vh 0;       
    }
    main {
        width: 67vw;
        height: 70vh;
    }

    aside {
        left: 67vw;
        height: 70vh;
        width: 33vw;
        text-align: center;
    }

    nav {
        width: 100vw;
        top: 85vh;
        height: 15vh;
    }    
    
    #score {
        font-size: 3.5vh;
        background-color: #FEFCFB;
    }    
    #well {
        height: 65vh;
        width: 32.5vh;
        left: calc((67vw - 32.5vh)/2);
    }
    #next {
        width: 13vh;
        height: 6.5vh;
        left: calc((33vw - 13vh)/2);
    }
    button {
        font-size: 3vh;
    }
}

@media (min-aspect-ratio: 5/6) {
    body {
        left: calc((100vw - 83.33vh)/2);
    }
    
    header, nav {
        width: 83.33vh;
    }

    main {
        width: 55.83vh;
    }

    aside {
        left: 55.83vh;
        width: 27.5vh;
    }

    #well {
        left: 11.665vh;
    }

    #next {
        left: 7.25vh;
    }    
}