* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin-top: 5vw;
    font-family: "Lato", sans-serif;
    background-color: #c5c1c0;
    color: #0a1612;
}

body, header, main, aside, nav, footer, a, 
    .brick, 
    #well, #game-over, #paused, #setup-dialog, #close-width-dialog  {
    position: absolute;
}

a {    
    color: #551A8B;
}

header, nav {
    width: 100vw;    
    height: 23vw;
}

header {
    text-align: center;
}

nav {
    top: 150vw;
}

main, aside {
    top: 23vw;
    height: 127vw;    
}

main {
    width: 67vw;
}

aside {
    left: 67vw;
    width: 33vw;
    text-align: center;
}

h1, a {
    font-size: 13.33vw;
    display: inline-block;    
}

h2 {
    font-size: 6.67vw;
    margin: 3vh 0 2vh;
    padding: 0 0.4em;
}

h2:first-of-type {
    margin-top: 1vh;
}

button {
    background-color: #f7c331;
    font-size: 5vw;
    color: #1a2930;
    border-width: 1px;
}

button > sub {
    font-size: 0.75em;
}

button > i {
    color: #0a1612;
}

.brick {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.live-brick {
    background: linear-gradient(to bottom right, #f7c331, #ff4500);
    border-color: #551A8B;
    z-index: 1;
}

.hidden {
    opacity: 0;
}

#well > .live-brick {
    box-shadow: 
        1px 1px 3px rgba(10,22,18,0.5);    
}

.dead-brick {
    background-color: darkslategray;
    background-image: url('../pic/rock3.JPG');
    background-size: 1000% 1000%;    
}

.control-button {
    text-align: center;
    width: 27%;
    height: 70%;
    margin-right: calc(5% - 2px);
}

.control-button:last-of-type {
    margin-right: 0;
}

.control-button:first-of-type {
    margin-left: calc(3.5% - 2px);
}

#setup-width {
    left: 85%;
}

#home {
    left: 5%;
}

#well {
    left: 4.5vw;
    height: 116vw;
    width: 58vw;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-radius: 0 0 1.5% 1.5%;
    border-color: #0a1612;
    box-shadow: 
                inset -2px -2px 2px rgba(10,22,18,0.8),
                inset 2px -2px 2px rgba(10,22,18,0.8)
}

#next {
    position: relative;
    width: 20vw;
    height: 10vw;
    left: 6.5vw;
}

#new-game, #auto {
    width: 60%;
    padding: 0.5em;
    margin-top: 1.5em;
    margin-top: 7vh;
    font-style: italic;
    font-weight: bold;
}

#auto {
    margin-top: 0.5em;
}

.auto-on {
    background-color: #FFD03E;
    box-shadow: 0 0 5px 5px rgba(255, 246, 100, 0.7);
}

#score {
    font-size: 5.83vw;
    font-family: 'Nova Mono', monospace;
    background-color: #FEFCFB;
    width: 60%;
    margin-left: 20%;
    text-align: right;
    padding-right: 0.5em;
}

.pop-up-window {
    background-color: #FEFCFB;
    width: 90%;
    left: 5%;
    top: 20%;
    font-style: italic;
    text-align: center;
    padding: 1em 0.3em;
    margin: 0;
    color: #1a2930;
    border: 2px groove #1a2930;
    outline: 1px solid #f7c331;
    box-shadow: 0px 0px 24px 8px #f7c331;
    display: none;
    z-index: 2;
    cursor: default;
    opacity: 0.95;    
}

#setup-dialog {
    top: 10%;
    box-shadow: 0px 0px 8px 2px #f7c331;
    font-size: 6.67vw;
    font-style: normal;
}

#close-width-dialog {
    top: 0;
    left: 90%;
    padding: 0.1em 0.3em;
    color: #551A8B;
    cursor: pointer;
}

#setup-dialog > legend {
    margin: 0 auto;
    margin-bottom: 1em;
}

#width-box, #submit {
    width: 2.5em;
    padding: 0 0.1em;
    font-size: 6.67vw;
    margin-bottom: 0.5em;    
}

#width-slider {
    width: 70%;
    margin-bottom: 1em;
}

#well > .brick {
    width: 10%;
    height: 5%;
}

#next > .brick {
    width: 25%;
    height: 50%;
}


/*

The UI keeps the well's aspect ratio at 1:2. For a narrow window, the calculations are based mostly on the viewport's width, as that is where we have the least freedom of maneuver. Conversely, for a window a little wider, we make calculations based on the view height.
And the additional media query is for windows even wider. At this moment, the UI's aspect ratio gets set in stone, and widening the window further does nothing. 

*/

@media (min-aspect-ratio: 9/16) {
    body {
        margin-top: 3vh;
    }
    
    header, nav {
        width: 100vw;
        height: 12.8vh;
    }

    nav {
        top: 84.2vh;
    }        
    
    main, aside {
        top: 12.9vh;
        height: 71.43vh;        
    }
    
    main {
        width: 66.7vw;
    }

    aside {
        left: 66.7vw;
        width: 33.3vw;
        text-align: center;
    }

    h1, a {
        font-size: 8vh;
    }
    h2 {
        font-size: 4vh;
    }
    
    #score {
        font-size: 3.5vh;
    }    
    #well {
        height: 65.25vh;
        width: 32.625vh;
        left: calc((66.7vw - 32.625vh)/2);
    }
    
    #next {
        width: 12vh;
        height: 6vh;
        left: 3.9vh;
    }
    button {
        font-size: 3vh;
    }
    
    #setup-dialog, #width-box, #submit {
        font-size: 4vh;
    }
}

@media (min-aspect-ratio: 5/6) {
    
    body {
        margin-top: 3vh;
        margin-left: calc((100vw - 83.33vh) / 2 );
    }
    
    header, nav {
        width: 83.33vh;
        height: 12.8vh;
    }

    nav {
        top: 84.2vh;
    }        
    
    main, aside {
        top: 12.9vh;
        height: 71.43vh;        
    }
    
    main {
        width: 55.83vh;
    }

    aside {
        left: 55.83vh;
        width: 27.5vh;
        text-align: center;
    }

    h1, a {
        font-size: 8vh;
    }
    h2 {
        font-size: 4vh;
    }
   
    #well {
        left: 11.6025vh;
    }
    #next {
        width: 12vh;
        height: 6vh;
        left: 3.9vh;
    }
    button {
        font-size: 3vh;
    }
    
    #setup-dialog, #width-box, #submit {
        font-size: 4vh;
    }
}
